<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<!-- 메뉴 -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
	<header th:fragment="header(menu)" class="p-3 text-bg-light mb-3">
		<div class="container">
			<div
				class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
				<ul
					class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
					<li><a href="/" class="nav-link px-2"
						th:classappend="${menu} == 'Home' ? text-warning : text-muted">Home</a></li>
				</ul>
			</div>
		</div>
	</header>
</body>
</html>